<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: 'Pretendard', Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            line-height: 1.6;
            text-align: center; 
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333; 
            text-align: center; 
            margin-bottom: 20px; 
        }
        h1 span.highlight-blue {
            color: #5080E1; 
        }
        .gray-box {
            background-color: #F8F8F8;
            padding: 10px;
            border-radius: 5px;
            color: #333;
            margin: 10px 0;
            display: inline-block; 
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #5080E1;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px 0; 
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
            color: #aaa;
        }
        .highlight-coral {
            color: #FF7F50; 
        }
        .highlight-black {
            color: #333;
        }
    </style>
</head>
<body>
     <!-- Logo Section -->
     <!-- <div class="logo">
        <img src="https://localhost:3000/public/images/logo.png" alt="gannies_logo">
    </div> -->

    <!-- Main Content -->
    <div class="container">
        <h1>
            <span class="highlight-black">회원님의 </span>
            <span class="highlight-blue">임시 비밀번호</span>
            <span class="highlight-black"> 입니다</span>
        </h1>
        <p>안녕하세요. <%= nickname %>님!</p>
        <p>회원가입의 <span class="highlight-blue">임시 비밀번호</span>는 다음과 같습니다.</p>
        
        <div class="gray-box">
            <%= tempPassword %>
        </div>

        <p><span class="highlight-black">임시 비밀번호로 로그인 후 <span class="highlight-coral">다시 비밀번호를 변경</span> 해주세요</span></p>
        <p><span class="highlight-black">버튼을 클릭하시면, 중간이들 페이지로 이동합니다</span></p>
        
        <a href="<%= verificationLink %>" class="button">메인 페이지로 가기</a>

        <div class="footer">
            <p>회원가입 인증용 메일</p>
        </div>
    </div>
</body>
</html>